*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}
.servicios-list{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.menu{
    display:grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: end;
    padding: 40px;
    background-color: aqua;
}
.content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(100px,auto);
    grid-gap: 20px;
    max-width: 1000px;
    margin:auto;
    gap: 2em;
    align-items: start;
    padding: 40px;
}

.post{
    box-shadow: 0 1px 6px 1px rgba(0,0,0,.1);
    transition: .2s;
}
.post:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 6px 1px rgba(0,0,0,.15);
}

.post-header{
    width: 100%;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
}

.post:hover .Item1-img{
    transform: scale(1.1);
}
.post:hover .Item2-img{
    transform: scale(1.1);
}
.post:hover .Item3-img{
    transform: scale(1.1);
}

.services-body{
    padding: 20px;
    text-align: center;
}

.services-body span{
    display: inline-block;
    color: coral;
    margin-bottom: 10px;
    background-color: rgb(132, 0, 255);
}

.services-body h2{
    margin-bottom: 15px;
}

.services-body p{
    line-height: 1.5;
    margin-bottom: 20px;
    background-color: rgb(255, 0, 255);
}
#Lavado-img{
    background: url("Imagenes/Lavado.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
}
#Triturado-img{
    background: url("Imagenes/Triturado.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
}
#Acopio-img{
    background: url("Imagenes/Acopio.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
}
